.page {
    background: #dbb25d;
    font-family: 'Garamond', sans-serif;
}

.input-group input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.navbar-menu {
  background: #926921;
}

.add {
  margin-left: 422px;
}
